* {
  margin: 0;
  padding: 0;
}
.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.toolbar button {
  padding: 5px 10px;
  cursor: pointer;
}

.custom-editor {
  min-height: 200px;
  height: 100%;
  /* height: calc(100vh - 200px); */
  outline: none;
  direction: ltr;
  text-align: left;
  background-color: rgb(244, 244, 244);
  border: none;
}

.tiptap {
  min-height: 200px;
  height: 100%;
  /* height: calc(100vh - 200px); */
  overflow-y: auto;
}

.ProseMirror-focused {
  border: none !important;
}

.button-input-group {
  background-color: antiquewhite;
  max-width: max-content;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

button,
select {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid gray;
}

.is-active {
  background-color: cadetblue;
}

input[type="color"] {
  width: 30px;
}

.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

.editor-container {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 20px);
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.button-input-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.word-frequency-container {
  padding: 20px;
}

.word-list {
  list-style: none;
  padding: 0;
}

.word-list li {
  margin-bottom: 5px;
  background-color: rgb(234, 234, 233);
  padding: 10px;
  border-radius: 5px;
}

.word-list .index {
  font-weight: bold;
}

.word-list .word {
  font-style: italic;
}

.word-list .count {
  color: gray;
}

/* editor class */

.block-quote {
  margin-right: 30px !important;
}

.code-class {
  background-color: rgb(177, 233, 235);
}

.ProseMirror {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #dddddd;
  }
}
